*{
    margin: 0px;
    padding: 0px;
    font-family: verdana;
    box-sizing: border-box;
}



div svg{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-color: rgba(255, 0, 140, 0.288);
    position: center;
    align-items: center;
    justify-items: absolute;
    background-repeat: repeat-x;
}

#box1{
  animation: b1 3s linear forwards;
}



#box2{
    animation: b1 3s linear forwards;
  }
  
 
  #box3{
    animation: b1 3s linear forwards;
  }
  
 

  #Smart{
    animation: b1 3s linear forwards;
  }
  
  @keyframes b1{
    from{
         transform: translateX(100rem);
    }
    to{
       transform: translate2(0rem);
    }
}

#box4{
    animation: b2 2s linear forwards;
  }
  #box5{
      animation: b2 2s linear forwards;
    }
    
   
    #box6{
      animation: b2 2s linear forwards;
    }
    @keyframes b2{
        from{
             transform: translateX(-100rem);
        }
        to{
           transform: translateX(0rem);
        }
    }
  #women{
    animation: b4 3.3s linear forwards;
  } 
  
    
    @keyframes b4{
      from{
           transform: translateY(100rem);
      }
      to{
         transform: translateY(0rem);
      }
  }


  #box7{
    animation: b3 1s linear forwards;
  }
  
  
  
  #box8{
      animation: b3 1s linear forwards;
    }
    
   
    #box9{
      animation: b3 1s linear forwards;
    }
    
   
  
   
    @keyframes b3{
      from{
           transform: translateX(100rem);
      }
      to{
         transform: translateX(0rem);
      }
  }
    
 #kart 
  {
      
      animation: b5 0.9s linear 4;
      transform-origin: center;
         transform-box: fill-box;
  }

  #Kart
  {
    animation: b6 4.1s linear;
  }
  
  @keyframes b6{
    from{
         transform: rotateZ(180deg);
         
    }
    to{
       transform: rotateZ(360deg);
      
    }
}

  @keyframes b5{
    from{
         transform: rotateZ(0deg);
         
    }
    to{
       transform: rotateZ(360deg);
      
    }
}

.heading{
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 4rem;
    text-shadow: 5px 5px 3px #05e5f5;
    animation: animate 3s infinite;
}



@keyframes animate
{
    0%,100%{
      color: #fff;
      filter: blur(1px);
      
                   
}
    5%,75%
    {
        color: #111;
        filter: blur(0px);
        text-shadow: 0 0 10px none;
    }
}

@keyframes anima
{
    0%,100%{
      color: #fff;
      filter: blur(1px);
      
                   
}
    5%,75%
    {
        color: #111;
        filter: blur(0px);
        text-shadow: 0 0 10px none;
    }
}

.headin{
    
    position: absolute;
    top: 55%;
    width: 100%;
    text-align: center;
    font-size: 4.5rem;
    color: rgb(0, 217, 255);
    text-shadow: 3px 3px 3px ;
    text-shadow :1;
    font-family: sans-serif;
    word-spacing: 0.2em;
    text-decoration: chartreuse;
    text-decoration-color: red;
    animation: anima 0.4s linear 12;
}

.SS{
    position: absolute;
    top: 81%;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    color: rgb(255, 0, 0);
    text-shadow: 3px 3px 3px ;
    text-shadow :2;
    scrollbar-shadow-color: lawngreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-spacing: 0.1em;
    text-decoration: chartreuse;
    text-decoration-color: rgb(9, 255, 0);
    animation: anima 2s linear 5;
    text-shadow: 1px 1px 1px rgb(0, 255, 0);
}

.headin span{
  opacity: 0;
  display: inline-block;   
  background:rgb(179, 5, 223);
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
  animation: anim 5s linear forwards;
  
}

@keyframes anim
{
  0%
  {
      opacity: 0;
      transform: rotateY(90deg);
      filter: blur(10px);
     
  }
  100%
  {
      opacity: 1;
      transform: rotateY(0deg);
      filter: blur(0);
     
  }
}


big{
    color: rgb(21, 255, 0);
}

nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgba(0, 58, 247, 0.589) ;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 2px;
    border-radius: 100px;
    height: 14vh;
}

nav ul li {
    
    padding: 10px 13px;
    border-radius: 10px;
}
nav ul li:hover{
    
    background-color: rgba(126, 226, 12, 0.781);
    border-radius: 4px;
    transition: 0.5s;
}

.logo {
    color: rgb(255, 255, 255);
    font-size: 45px;
    line-height: 90px; 
    font-weight: bold;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width:80%;
}

.nav-links li{
    list-style: none;
    display: inline-block;
}

.nav-links a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

nav ul{
     text-align: center;
}
 


@media screen and (max-width:1060px){
    .nav-links{
        display: flex;
        justify-content:space-evenly;
        width:80%;
    }
   
    
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: left;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display:none;
}

.checkbtn:hover{
   color: aquamarine;
}
#check{
    display: none;
}

@media screen and (max-width:868px){
    .checkbtn{
        display: block;
    }

   ul{
       position: fixed;
       width: 100%;
       height: 100vh;
   }

    .nav-links{
       position: absolute;
       right: 0px;
       justify-content: space-evenly;
       height:92vh;
       top: 13.1vh;
       background-color: #0009;
       display: flex;
       width: 100%;
       flex-direction: column;
       align-items: center;
       transition: all 0.5s;
       right: -100%;
    }
    nav ul li a{
        display:block;
       
    }
   
   
   
    nav ul li a{
        font-size: 20px;
    }
    a:hover{
        background: none;
        color: #000000;
    }
    #check:checked ~ ul{
        right: 0;
    }
}


