*{
    margin: 0px;
    padding: 0px;
    font-family: verdana;
    box-sizing: border-box;
}
#main{
    width: 100%;
    height: 100vh;
    background-image: url(images/3.jpg);
    background-size: cover;
    background-position: center;
}



nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(16, 126, 100) ;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 2px;
    border-radius: 100px;
    height: 14vh;
    left: px;
}

nav ul li {

    padding: 10px 13px;
    border-radius: 10px;
}
nav ul li:hover{
    
    background-color: rgb(226, 55, 12);
    border-radius: 4px;
    transition: 0.5s;
}

.logo {
    color: rgb(255, 255, 255);
    font-size: 45px;
    line-height: 90px; 
    font-weight: bold;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width:80%;
}

.nav-links li{
    list-style: none;
    display: inline-block;
}



.nav-links a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: ;
    font-weight: bold;
    font-size: 14px;
}

nav ul{
     text-align: center;
}
 


@media screen and (max-width:1050px){
    .nav-links{
        display: flex;
        justify-content:space-evenly;
        width:80%;
    }
    #main{
        width: 100%;
        height: 100vh;
        background-image: url(images/3.jpg);
        background-size: cover;
        background-position: center;
    }
    
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: left;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display:none;
}
#check{
    display: none;
}

@media screen and (max-width:828px){
    .checkbtn{
        display: block;
    }
   
    .logo{
        align-items:;
    }
  
  
   ul{
       position: fixed;
       width: 100%;
       height: 100vh;

   }
  
    .nav-links{
       position: absolute;
       right: 0px;
       justify-content: space-evenly;
       height:92vh;
       top: 13.1vh;
       background-color: #0009;
       display: flex;
       width: 100%;
       flex-direction: column;
       align-items: center;
       transition: all 0.5s;
       left: -100%;
    }
    nav ul li a{
        display:block;
        margin: px
    }
   
    #main{
        width: 100%;
        height: 100vh;
        background-image: url(images/3.jpg);
        background-size: cover;
        background-position: center;
    }
   
    nav ul li a{
        font-size: 20px;
    }
    a:hover{
        background: none;
        color: #f5f7eb;
    }
    #check:checked ~ ul{
        left: 0;
    }
}


