*{
    margin: 0px;
    padding: 0px; 
}

html{
    scroll-behavior: smooth;
   
}



div svg{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-color: rgba(247, 0, 235, 0.226);
    position: center;
    align-items: center;
    justify-items: absolute;
    background-repeat: repeat-x;
}

#box1{
  animation: b1 3s linear forwards;
}



#box2{
    animation: b1 3s linear forwards;
  }
  
 
  #box3{
    animation: b1 3s linear forwards;
  }
  
 

  #Smart{
    animation: b1 3s linear forwards;
  }
  
  @keyframes b1{
    from{
         transform: translateX(100rem);
    }
    to{
       transform: translate2(0rem);
    }
}

#box4{
    animation: b2 2s linear forwards;
  }
  #box5{
      animation: b2 2s linear forwards;
    }
    
   
    #box6{
      animation: b2 2s linear forwards;
    }
    @keyframes b2{
        from{
             transform: translateX(-100rem);
        }
        to{
           transform: translateX(0rem);
        }
    }
  #women{
    animation: b4 3.3s linear forwards;
  } 
  
    
    @keyframes b4{
      from{
           transform: translateY(100rem);
      }
      to{
         transform: translateY(0rem);
      }
  }


  #box7{
    animation: b3 1s linear forwards;
  }
  
  
  
  #box8{
      animation: b3 1s linear forwards;
    }
    
   
    #box9{
      animation: b3 1s linear forwards;
    }
    
   
  
   
    @keyframes b3{
      from{
           transform: translateX(100rem);
      }
      to{
         transform: translateX(0rem);
      }
  }
    
 #kart 
  {
      
      animation: b5 0.9s linear 4;
      transform-origin: center;
         transform-box: fill-box;
  }

  #Kart
  {
    animation: b6 4.1s linear;
  }
  
  @keyframes b6{
    from{
         transform: rotateZ(180deg);
         
    }
    to{
       transform: rotateZ(360deg);
      
    }
}

  @keyframes b5{
    from{
         transform: rotateZ(0deg);
         
    }
    to{
       transform: rotateZ(360deg);
      
    }
}

.heading{
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 4rem;
    text-shadow: 5px 5px 3px #05e5f5;
    animation: animate 3s infinite;
}



@keyframes animate
{
    0%,100%{
      color: #fff;
      filter: blur(1px);
      
                   
}
    5%,75%
    {
        color: #111;
        filter: blur(0px);
        text-shadow: 0 0 10px none;
    }
}

@keyframes anima
{
    0%,100%{
      color: #fff;
      filter: blur(1px);
      
                   
}
    5%,55%
    {
        color: #111;
        filter: blur(0px);
        text-shadow: 0 0 10px none;
    }
}

.headin{
    
    position: absolute;
    top: 55%;
    width: 100%;
    text-align: center;
    font-size: 4rem;
    color: rgb(0, 217, 255);
    text-shadow: 3px 3px 3px ;
    text-shadow :1;
    font-family: sans-serif;
    word-spacing: 0.2em;
    text-decoration: chartreuse;
    text-decoration-color: red;
    animation: anima 0.4s linear 12;
}

.SS{
    position: absolute;
    top: 77%;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    color: rgb(255, 0, 0);
    text-shadow: 3px 3px 3px ;
    text-shadow :2;
    scrollbar-shadow-color: lawngreen;
    font-family: sans-serif;
    word-spacing: 0.1em;
   
    animation: anima 1.5s linear 5;
    text-shadow: 3px 3px 1px rgb(0, 255, 0);
}

.headin span{
  opacity: 0;
  display: inline-block;   
  background:rgb(179, 5, 223);
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
  animation: anim 5s linear forwards;
  
}

@keyframes anim
{
  0%
  {
      opacity: 0;
      transform: rotateY(90deg);
      filter: blur(10px);
     
  }
  100%
  {
      opacity: 1;
      transform: rotateY(0deg);
      filter: blur(0);
     
  }
}


.aa{
    color: rgb(21, 255, 0);
}


  
  
  /* MENU STYLES */
  .menu-wrapper {
    position: fixed;
    top: 15px;
    right: 18px;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  display: none;
  }
  
  .menu-wrapper .toggle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  
  .menu-wrapper .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    z-index: 998;
    width: 50px;
    height: 50px;
    padding: 1rem;
    background: rgba(253, 7, 7, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
    transition: all 0.3s ease;
    color: white;
  }


  /* Hamburger Line */
  .menu-wrapper .hamburger  .bar {
    position: relative;
  
    width: 100%;
    height: 3px;
    background: rgba(255, 255, 255, 0.993); 
    z-index: 5;
    color: rgba(255, 255, 240, 0);
    transition: all 0.2s linear;
  }

  
  /* Hamburger Lines - Top & Bottom */
  .menu-wrapper .hamburger .bar::before,
  .menu-wrapper .hamburger .bar::after {
    content: '';
    position: absolute;
    z-index: 998;
    top: -10px;
    width: 100%;
    height: 3px;
    background: #fff;
    transition: all 0.2s linear;
  }
  
  /* Moves Line Down */
  .menu-wrapper .hamburger .bar::after {
    top: 10px;
  }
  
  /* Toggler Animation */
  .menu-wrapper .toggle:hover + .hamburger{
    transform: translateX(0.4rem);
    transform: translateY(0.4rem);
    background: rgba(255, 240, 240, 0);
    border-radius:50%;
  }
  
  
  /* Rotate On Hover When Checked */
  .menu-wrapper .toggle:checked + .hamburger{
    transform: rotate(45deg);
  }

  .menu-wrapper .toggle:checked:hover + .hamburger{
    transform: rotate(135deg);
  }

  .menu-wrapper .toggle:checked + .hamburger .bar::before,
  .menu-wrapper .toggle:checked + .hamburger .bar::after{
    top: 0;
    transform: rotate(90deg);
  }
  
  
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0;
    width: 0;
    height:0;
    overflow: hidden;
    background: rgba(58, 47, 47, 0.925);
    z-index: 1;
    transition: all 0.3s ease;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  
  .menu ul li{
    color: rgb(255, 255, 255);
    font-size: 21px;
    list-style-type: none;
    text-align: center;
    margin: 33px;
    cursor: pointer;
    box-sizing: 600px;
    border-bottom: 4px solid transparent;
    justify-content: space-evenly;
  }

  .menu ul li:hover
  {
   
    border-bottom: 6px solid rgb(4, 134, 255);

  }

  .menu-wrapper .toggle:checked + .hamburger + .menu{
    opacity: 1;
    width: 100vw;
    height: 100vh;

  }
  
  .menu a{
    color: rgb(243, 243, 243);
  }

nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgba(0, 66, 247, 0.664) ;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 2px;
    border-radius: 100px;
    height: 14vh;
}

nav ul li {
    
    padding: 10px 13px;
    border-radius: 10px;
    
}
nav ul li:hover{
    
    background-color: rgba(39, 255, 10, 0.712);
    border-radius: 30px;
    transition: 0.5s;
}


.logo img{
  position: fixed;
    top: 3px;
    left: 1px;
  width: 90px;
  height: 90px;
}

.logo .head{
  left: 10px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width:80%;
}

.nav-links li{
    list-style: none;
    display: inline-block;
}

.nav-links a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    
}

nav ul{
     text-align: center;
}
 






.ls{
    width: 100%;
    height: 30vh;
    top: 10vh;
    background-size: cover;
    align-items: center;
    background-position: center;
    text-align: center;
    
}

.ls1{
    top: 115vh;
    position: absolute; 
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: orange;
    text-shadow: 3px 3px 3px yellow ;
    font-family: sans-serif;
    word-spacing: 0.2rem;
    text-decoration: chartreuse;
    text-decoration-color: red;
}
.ls2{
    top: 135vh;
    position: absolute; 
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: rgb(174, 0, 255);
    text-shadow: 3px 3px 3px yellow ;
    font-family: Courier;
    word-spacing: 0.2rem;
    text-decoration: chartreuse;
    text-decoration-color: red;
}

.bb{

    width: 100%;
    height: 100vh;
    top: 150vh;
    background: #ddd;
}
 
.wrapper{
    
    width:100%;
    height: 3vh;
    display: block;
    text-align: center;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.box0{
    position: absolute;
    top: 10vh;
    bottom:-6vh;
    left: 4vh;
    right: 0;
    display: block;
    transition:  transform 0.5s;
    text-align: left;
}

.box10{
    -webkit-transform: translateZ(5px);
    -moz-transform: translateZ(5px);
    -ms-transform: translateZ(5px);
    -o-transform: translateZ(5px);
    transform: translateZ(5px);
}

.box20{
    -webkit-transform: translateZ(10px);
    -moz-transform: translateZ(10px);
    -ms-transform: translateZ(10px);
    -o-transform: translateZ(10px);
    transform: translateZ(10px);
}
.box30{
    padding: 5px 30px ;
    top: auto;
    right: auto;
    -webkit-transform: translateZ(12px);
    -moz-transform: translateZ(12px);
    -ms-transform: translateZ(12px);
    -o-transform: translateZ(12px);
    transform: translateZ(12px);
    font-size: 18px;
    letter-spacing: 3px;
    background:  red;
    margin-left: 5%;
    border-radius: 100px;
    margin-bottom: 5%;
}

.sin-img{
    width: 340px;
    height: 340px;
    display: inline-block;
    position: relative;
    -webkit-transform: rotateX(50deg);
    -moz-transform: rotateX(50deg);
    -ms-transform: rotateX(50deg);
    -o-transform: rotateX(50deg);
    transform: rotateX(50deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    color:rgb(247, 247, 247);
    text-decoration: none;
    margin: 0 15px;
}

.sin-img img{
    widows: 100%;
    height: 100%;
    display: block;
    opacity: 1;
}

.sin-img:hover .box10{
    -webkit-transform: translateZ(24px);
    -moz-transform: translateZ(24px);
    -ms-transform: translateZ(24px);
    -o-transform: translateZ(24px);
    transform: translateZ(24px);
}

.sin-img:hover .box30{
    -webkit-transform: translateZ(32px);
    -moz-transform: translateZ(32px);
    -ms-transform: translateZ(32px);
    -o-transform: translateZ(32px);
    transform: translateZ(32px);
}

.ss1{
  top: 214vh;
  position: absolute; 
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: orange;
  text-shadow: 3px 3px 3px yellow ;
  font-family: sans-serif;
  word-spacing: 0.2rem;
  text-decoration: chartreuse;
  text-decoration-color: red;
}
.ss2{
  top: 135vh;
  position: absolute; 
  width: 100%;
  text-align: center;
  font-size: 2rem;
  color: rgb(174, 0, 255);
  text-shadow: 3px 3px 3px yellow ;
  font-family: Courier;
  word-spacing: 0.2rem;
  text-decoration: chartreuse;
  text-decoration-color: red;
}

.cc{

  width: 100%;
  height: 100vh;
  background: rgb(229, 221, 149);
}

@media screen and (max-width:868px){
  .menu-wrapper{
      display: block;  
  }
  
  
  .nav-links{
     position: absolute;
     right: -100%;
  }
  .bb{
    width: 100%;
    height: 250vh;
    
  }
  
  
}
@media screen and (max-width:1060px){
    .nav-links{
        display: flex;
        justify-content:space-evenly;
        width:80%;
    }
   
    
}